@model IEnumerable<PointJalkahoitoDemoEka.Models.Palvelu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Palvelun_Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palvelun_Kesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palvelun_Hinta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimipiste.Toimipiste_Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varaus.Palvelun_nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelun_Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelun_Kesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelun_Hinta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakas1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitaja1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toimipiste.Toimipiste_Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Varaus.Palvelun_nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Palvelu_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Palvelu_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Palvelu_id })
        </td>
    </tr>
}

</table>
