@model IEnumerable<PointJalkahoitoDemoEka.Models.Varaus>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loppu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huomio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitopaikka1.Hoitopaikan_Nimi)
            @Html.DisplayNameFor(model => model.Hoitopaikka1.Hoitopaikan_Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palvelu1.Palvelun_Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimipiste.Toimipiste_Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelun_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loppu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huomio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakas1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilokunta1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitaja1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitopaikka1.Hoitopaikan_Nimi)
            @Html.DisplayFor(modelItem => item.Hoitopaikka1.Hoitopaikan_Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelu1.Palvelun_Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toimipiste.Toimipiste_Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Varaus_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Varaus_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Varaus_id })
        </td>
    </tr>
}

</table>
