@model IEnumerable<PointJalkahoitoDemoEka.Models.Kayttaja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Käyttäjätunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salasana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Käyttäjätunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salasana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakas1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilokunta1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitaja1.Etunimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Käyttäjä_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Käyttäjä_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Käyttäjä_id })
        </td>
    </tr>
}

</table>
