@model PointJalkahoitoDemoEka.Models.Puhelin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Puhelin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakas1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitaja1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toimipiste.Toimipiste_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipiste.Toimipiste_Nimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Puhelin_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
