@model IEnumerable<PointJalkahoitoDemoEka.Models.Puhelin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimipiste.Toimipiste_Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakas1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilokunta1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitaja1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toimipiste.Toimipiste_Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Puhelin_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Puhelin_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Puhelin_id })
        </td>
    </tr>
}

</table>
